# Data files
data
benchmarks
buffers

# Regular expression denoting files to ignore
ignore_*

# Python egg
*.egg
*.egg-info

# Python .pyc
*.pyc

# cached files
.ipynb_checkpoints
__pycache__

#vscode
.vscode

#binaries
bin

#logs
lightning_logs
logs

#models
models